nav {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 100%;
    background-color: #EEEEEE;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

nav ul li {
    margin: 0 0.5em;
    height: 2.5em;
    padding: 0.5em;
    font-size: 1em;
}

nav button {
    margin: 0.5em;
    width: 5em;
    height: 2em;
    font-size: 1em;
}

.form-group {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}


/* nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    background-color: #EEEEEE;
  }
  
  nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  nav ul li {
    margin: 0 10px;
    height: 40px;
    padding: 5px;
    background-color: red;
  }
  
  nav button {
    margin-left: 10px;
    width: 60px;
    height: 30px;
    background-color: yellow;
  } */



/* nav {
    height: 80px;
    width: 80%;
    background-color: #EEEEEE;
}


nav ul li {
    display: inline-block;
    width: 60px;
    height: 40px;
    padding: 5px;
    background-color: red;
}

nav button {
    width: 60px;
    height: 30px;
    background-color: yellow;
} */